* {
  margin: 0;
}

body {
  background-image: url("/img/background.png");
}

.wrapper {
  padding-top: 50px;
}

.container {
  width: 400px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.doodler {
  height: 85px;
  width: 60px;
  position: absolute;
  background-image: url("/img/doodler-guy.png");
  z-index: 1;
}

.platform {
  position: absolute;
  width: 85px;
  height: 15px;
  background-image: url("/img/platform.png");
}