body {
    margin: 0;
    font-family: arial;
    background-color: orange;
}

.wrapper div {
    padding: 10px;
    border-radius: 6px;
}

.wrapper {
    height: 100vh;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 24px;
    margin-bottom: 30px;
    background-color: black;
    color: white;

}
.button {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 900;
    border: 2px solid black;
    transition: all 1s ease;
}


.button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
}